@model IEnumerable<PhysicianApplication.Models.Physician>
@using PhysicianApplication.Models;
<script type="text/javascript" src="@Url.Content("/Scripts/DeleteConfirmation.js")"></script>

@{
    ViewBag.Title = "Index";
}

<div>
    @Html.ActionLink("CREATE", "Create")
</div>
<div>
    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
                Age
            </th>
            <th>
                NPI
            </th>
            <th>
                Specialty
            </th>
            <th>
                Hospital
            </th>
            <th>
                Consultation Fee
            </th>
            <th>
                Action
            </th>
        </tr>
        @foreach (Physician data in Model)
        {
            <tr>
                <td>
                    @data.Name
                </td>
                <td>
                    @data.Age
                </td>
                <td>
                    @data.NPI
                </td>
                <td>
                    @data.Specialty.SpecialtyName
                </td>
                <td>
                    @data.Hospital.HospitalName
                </td>
                <td>
                    @data.ConsultationCharge
                </td>
                <td>
                    @Html.ActionLink("EDIT", "Edit", new { id = @data.ID })
                    @Html.ActionLink("DELETE", "Delete", new { id = @data.ID }, new { onclick = " return ConfirmDelete();" })
                </td>
            </tr>
        }
    </table>
</div>